/* [project]/src/app/globals.css [app-client] (css) */
@custom-variant dark (& :is(. dark * ));

@theme inline {
  --color-background: var(--background) ; --color-foreground: var(--foreground) ; --font-sans: var(--font-geist-sans) ; --font-mono: var(--font-geist-mono) ; --color-sidebar-ring: var(--sidebar-ring) ; --color-sidebar-border: var(--sidebar-border) ; --color-sidebar-accent-foreground: var(--sidebar-accent-foreground) ; --color-sidebar-accent: var(--sidebar-accent) ; --color-sidebar-primary-foreground: var(--sidebar-primary-foreground) ; --color-sidebar-primary: var(--sidebar-primary) ; --color-sidebar-foreground: var(--sidebar-foreground) ; --color-sidebar: var(--sidebar) ; --color-chart-5: var(--chart-5) ; --color-chart-4: var(--chart-4) ; --color-chart-3: var(--chart-3) ; --color-chart-2: var(--chart-2) ; --color-chart-1: var(--chart-1) ; --color-ring: var(--ring) ; --color-input: var(--input) ; --color-border: var(--border) ; --color-destructive: var(--destructive) ; --color-accent-foreground: var(--accent-foreground) ; --color-accent: var(--accent) ; --color-muted-foreground: var(--muted-foreground) ; --color-muted: var(--muted) ; --color-secondary-foreground: var(--secondary-foreground) ; --color-secondary: var(--secondary) ; --color-primary-foreground: var(--primary-foreground) ; --color-primary: var(--primary) ; --color-popover-foreground: var(--popover-foreground) ; --color-popover: var(--popover) ; --color-card-foreground: var(--card-foreground) ; --color-card: var(--card) ; --radius-sm: calc(var(--radius)  - 4px) ; --radius-md: calc(var(--radius)  - 2px) ; --radius-lg: var(--radius) ; --radius-xl: calc(var(--radius)  + 4px) ; --color-neon: #a855f7; --color-neon-light: #c084fc; --color-neon-glow: #7c3aed; --color-cyan-glow: #06b6d4; --color-amber-glow: #f59e0b; --color-emerald-glow: #10b981;
}

:root {
  --radius: .625rem;
  --background: #010203;
  --foreground: #e8e8e8;
  --card: #050509;
  --card-foreground: #e8e8e8;
  --popover: #050509;
  --popover-foreground: #e8e8e8;
  --primary: #a860ff;
  --primary-foreground: #f8f8f8;
  --secondary: #10111a;
  --secondary-foreground: #dedede;
  --muted: #10111a;
  --muted-foreground: gray;
  --accent: #17182d;
  --accent-foreground: #e8e8e8;
  --destructive: #f94144;
  --border: #ffffff14;
  --input: #ffffff1f;
  --ring: #a860ff;
  --chart-1: #a860ff;
  --chart-2: #00a792;
  --chart-3: #f09700;
  --chart-4: #c33dbd;
  --chart-5: #f14d4c;
  --sidebar: #030306;
  --sidebar-foreground: #dedede;
  --sidebar-primary: #a860ff;
  --sidebar-primary-foreground: #f8f8f8;
  --sidebar-accent: #0e0f23;
  --sidebar-accent-foreground: #e8e8e8;
  --sidebar-border: #ffffff14;
  --sidebar-ring: #a860ff;
}

@supports (color: lab(0% 0 0)) {
  :root {
    --background: lab(.448242% .144131 -.654393);
    --foreground: lab(91.88% .0000298023 -.0000119209);
    --card: lab(1.53131% .285171 -1.39884);
    --card-foreground: lab(91.88% .0000298023 -.0000119209);
    --popover: lab(1.53131% .285171 -1.39884);
    --popover-foreground: lab(91.88% .0000298023 -.0000119209);
    --primary: lab(55.133% 58.6175 -77.0206);
    --primary-foreground: lab(97.68% -.0000298023 .0000119209);
    --secondary: lab(5.12753% 1.40003 -6.45875);
    --secondary-foreground: lab(88.4% 0 .0000119209);
    --muted: lab(5.12753% 1.40003 -6.45875);
    --muted-foreground: lab(53.6% 0 0);
    --accent: lab(9.09006% 4.48104 -14.2125);
    --accent-foreground: lab(91.88% .0000298023 -.0000119209);
    --destructive: lab(57.1752% 69.5963 43.0458);
    --border: lab(100% 0 0 / .08);
    --input: lab(100% 0 0 / .12);
    --ring: lab(55.133% 58.6175 -77.0206);
    --chart-1: lab(55.133% 58.6175 -77.0206);
    --chart-2: lab(61.9076% -72.6351 -.422347);
    --chart-3: lab(70.5417% 30.4285 91.2157);
    --chart-4: lab(50.206% 64.1645 -39.5481);
    --chart-5: lab(57.3944% 63.124 38.0626);
    --sidebar: lab(.882072% .208803 -.991648);
    --sidebar-foreground: lab(88.4% 0 .0000119209);
    --sidebar-primary: lab(55.133% 58.6175 -77.0206);
    --sidebar-primary-foreground: lab(97.68% -.0000298023 .0000119209);
    --sidebar-accent: lab(4.92484% 3.78201 -13.253);
    --sidebar-accent-foreground: lab(91.88% .0000298023 -.0000119209);
    --sidebar-border: lab(100% 0 0 / .08);
    --sidebar-ring: lab(55.133% 58.6175 -77.0206);
  }
}

@layer base {
  @apply border-border outline-ring / 50;

  @apply bg-background text-foreground;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #353854;
  background: lab(24.1014% 5.05255 -17.8932);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8059bb;
  background: lab(45.5526% 32.3631 -46.5159);
}

.glow-purple {
  box-shadow: 0 0 15px #a860ff4d, 0 0 45px #a860ff1a;
  box-shadow: 0 0 15px lab(55.133% 58.6175 -77.0206 / .3), 0 0 45px lab(55.133% 58.6175 -77.0206 / .1);
}

.glow-cyan {
  box-shadow: 0 0 15px #00b6be4d, 0 0 45px #00b6be1a;
  box-shadow: 0 0 15px lab(66.6355% -46.7249 -19.1129 / .3), 0 0 45px lab(66.6355% -46.7249 -19.1129 / .1);
}

@keyframes vu-bounce {
  0%, 100% {
    height: 15%;
  }

  50% {
    height: 90%;
  }
}

.vu-bar {
  animation: .9s ease-in-out infinite vu-bounce;
}

@keyframes pulse-neon {
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: .6;
  }
}

.pulse-neon {
  animation: 2s ease-in-out infinite pulse-neon;
}

/*# sourceMappingURL=src_app_globals_css_bad6b30c._.single.css.map*/